[project]
name = "pysleigh"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Roee Shoshani", email = "roysho10@gmail.com" }
]
requires-python = ">=3.12"
dependencies = [
    "pybind11>=3.0.1",
]

[tool.hatch.build.targets.sdist]
exclude = [
    "sleigh",
]

[[tool.hatch.build.hooks.build-scripts.scripts]]
work_dir = "sleigh"
out_dir = "src/pysleigh/bindings"
commands = ["make -j$(nproc)"]
artifacts = ["build/dist/**/*"]
clean_out_dir = true

[build-system]
requires = ["hatchling", "hatch-build-scripts"]
build-backend = "hatchling.build"
